.inline {
    display:inline-block;
}
.nopadding
{
	padding:0px;
}
.border 
{
	border:1px solid red;
}
.padding5
{
	padding:5px;
}
.paddingr2
{
	padding-right: 2px;
}
label .error
{
	font-color:red !important;
	font-style: normal;
}
.error{
	font-color:red;
	font-style: normal;
}
.forgot_account
{
	float:right !important; 
}
.deactivate_row
{
	background: rgba(255, 0, 0, 0.1) !important;
}

#accordion .panel{
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 15px;
}
#accordion .panel-heading{
    padding: 0;
}
#accordion .panel-title a{
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
    background: #fff;
    border: none;
    border-bottom: 2px solid #00A65A;
    padding: 15px 20px 15px 47px;
    position: relative;
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed{
    border-bottom-color: #ddd;
    color: #888;
}
#accordion .panel-title a:before{
    content: "\f106";
    font-family: 'FontAwesome';
    font-size: 18px;
    position: absolute;
    top: 30%;
    left: 20px;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:before{
    content: "\f107";
}
#accordion .panel-body{
    font-size: 15px;
    color: #8c8c8c;
    line-height: 25px;
    background: #f6f6f6;
    border: none;
    padding: 14px 20px;
}

fieldset
{
    border: solid 1px #000;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
}
legend
{
    padding:0px 10px;
    background:black;
    color:#FFF;
}
#buildyourform input.fieldname
{
    margin:5px;
}
#buildyourform select.fieldtype
{
    margin:5px;
}
.fieldname
{
    display: inline-block;
}
.inline
{
    display: inline-block;
}
.control-label
{
    width:85%;

}
.controls
{
    width:15%;
    float:right;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-s6z2{text-align:center}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}

.none
{
    display: none;
}

.subquestion
{
    margin-left: 30px;
}

.marginbottom10
{
    margin-bottom: 10px;
}

@media only screen and (max-width: 1300px) {
    .table-responsive
    {
      display:block ;
    }
}

.bggrey
{
    background-color: red !important;
}

.margin_top10
{
    margin-top: 10px;
}